autopy==4.0.0
Babel==2.8.0
Django==2.2.21
django-session-timeout==0.1.0
EasyProcess==0.3
entrypoint2==0.2.1
phonenumbers==8.12.3
Pillow==7.1.2
pyscreenshot==1.0
pytz==2020.1
six==1.14.0
sqlparse==0.3.1